<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-dark" href="?page=beranda" aria-expanded="false">
                        <i class="icon-home"></i><span class="hide-menu">Beranda</span>
                    </a>
                </li>
                <li> 
                    <a class="waves-dark" href="?page=mahasiswa" aria-expanded="false">
                        <i class="fa fa-user-circle"></i><span class="hide-menu">Mahasiswa</a>
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa fa-mortar-board"></i><span class="hide-menu">Akademik</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="?page=kul-perwalian"><i class="fa-address-card"></i>&nbsp; Periode Perkuliahan </a></li> 
                        <li><a href="?page=kul-alihbentuk"><i class="fa-address-card"></i>&nbsp; Mhs Alih Bentuk </a></li>
                        <li><a href="?page=kul-konversi"><i class="fa fa-building"></i>&nbsp; Konversi Nilai </a></li>
                        <li><a href="?page=kul-mahasiswa-cuti"><i class="fa fa-mortar-board"></i>&nbsp; Cuti / Non Aktif (SK Cuti / Non Aktif Mahasiswa)</a></li>
                        <li><a href="?page=kul-matkul"><i class="fa fa-address-book"></i>&nbsp;&nbsp; Mapping Matkul </a></li>
                        <li><a href="?page=kurikulum"><i class="fa fa-address-book"></i>&nbsp;&nbsp; Kurikulum </a></li>
                        <li><a href="?page=kul-matkulkurikulum"><i class="fa fa-address-book"></i>&nbsp;&nbsp; Matkul Per Kur </a></li>
                        <li><a href="?page=kul-matkulpemb"><i class="fa fa-address-book"></i>&nbsp;&nbsp; R Pembelajaran </a></li>
                        <li><a href="?page=kul-matkuleval"><i class="fa fa-address-book"></i>&nbsp;&nbsp; Rencana Evaluasi  </a></li>
                        <li><a href="?page=kul-kelas"><i class="fa fa-building"></i>&nbsp; Kelas Perkuliahan </a></li>
                        <li><a href="?page=kul-peserta"><i class="fa-address-card"></i>&nbsp;&nbsp; Peserta Kelas </a></li>
                        <li><a href="?page=kul-nilai"><i class="fa fa-calculator"></i>&nbsp;&nbsp; Nilai Perkuliahan </a></li>
                        <li><a href="?page=kul-perwalian"><i class="fa fa-address-book"></i>&nbsp;&nbsp; Aktivitas Kuliah </a></li>
                        <li><a href="?page=kul-realisasiajar"><i class="fa fa-address-book"></i>&nbsp;&nbsp; Rencana & Realisasi Ajar Dosen</a></li>
                        <li><a href="?page=kul-penugasan"><i class="fa fa-address-book"></i>&nbsp;&nbsp;Info Penugasan</a></li>
                        <li><a href="?page=kul-mengajar"><i class="fa fa-address-book"></i>&nbsp;&nbsp;Info Mengajar</a></li>
                        <li><a href="?page=kul-nidn"><i class="fa fa-address-book"></i>&nbsp;&nbsp;Info NIDN</li>
                        <li><a href="?page=kul-tugasakhir"><i class="fa fa-users"></i>&nbsp; Tugas Akhir (Pembimbing TA)</a></li>
                        <li><a href="?page=kul-pembimbingtugasakhir"><i class="fa fa-users"></i>&nbsp; Pembimbing (Pembimbing TA)</a></li>
                        <li><a href="?page=kul-ujitugasakhir"><i class="fa fa-users"></i>&nbsp; Tugas Akhir (Penguji TA)</a></li>
                        <li><a href="?page=kul-pengujitugasakhir"><i class="fa fa-users"></i>&nbsp; Pembimbing (Penguji TA)</a></li>
                        <li><a href="?page=kul-pembimbingakademik"><i class="fa fa-suitcase"></i>&nbsp; Pembimbing Akademik </a></li>
                        <li><a href="?page=kul-transkrip"><i class="fa fa-suitcase"></i>&nbsp; Transkrip </a></li>
                        <li><a href="?page=kul-yudisium"><i class="fa fa-suitcase"></i>&nbsp; Yudisium & Kelulusan </a></li>
                        <li><a href="?page=kul-mahasiswa-lulus"><i class="fa fa-mortar-board"></i>&nbsp; Mahasiswa Lulus/ Keluar</a></li>
                    </ul>
                </li>
                <li>
					<a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
						<i class="fa fa-mortar-board"></i><span class="hide-menu">MBKM</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="?page=mbkm-perkuliahan"><i class="fa-address-card"></i>&nbsp; Konversi Perkuliahan </a></li>
							<li><a href="?page=mbkm-kegiatan"><i class="fa fa-building"></i>&nbsp; Konversi Kegiatan </a></li>
						</ul>
					</li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
						<i class="ti-layout-media-right-alt"></i><span class="hide-menu">Referensi</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="/mapjenjangp"><i class="fa fa-angle-double-right"></i>&nbsp; Jenjang Pendidikan </a></li>
							<li><a href="?page=map-program-studi"><i class="fa fa-angle-double-right"></i>&nbsp; Program Studi</a></li>
							<li><a href="?page=map-agama"><i class="fa fa-angle-double-right"></i>&nbsp; Agama </a></li>
							<li><a href="?page=map-negara"><i class="fa fa-angle-double-right"></i>&nbsp; Negara</a></li>
							<li><a href="?page=map-statuskeluar"><i class="fa fa-angle-double-right"></i>&nbsp; Status Keluar</a></li>
							<li><a href="?page=map-statuspengeluaran"><i class="fa fa-angle-double-right"></i>&nbsp; Status Pengeluaran</a></li>
							<li><a href="?page=map-wilayah"><i class="fa fa-angle-double-right"></i>&nbsp; Wilayah</a></li>
							<li><a href="?page=map-jenistugasakhir"><i class="fa fa-angle-double-right"></i>&nbsp; Jenis Tugas Akhir</a></li>
							<li><a href="?page=map-skala-nilai"><i class="fa fa-angle-double-right"></i>&nbsp; Skala Nilai</a></li>
							<li><a href="?page=map-dosen"><i class="fa fa-angle-double-right"></i>&nbsp; Dosen</a></li>
							<li><a href="?page=map-jenispendaftaran"><i class="fa fa-angle-double-right"></i>&nbsp; Jenis Pendaftaran</a></li>
							<li><a href="?page=map-kategorikegiatan"><i class="fa fa-angle-double-right"></i>&nbsp; Kategori Kegiatan</a></li>
							<li><a href="?page=map-jalurmasuk"><i class="fa fa-angle-double-right"></i>&nbsp; Jalur Masuk</a></li>
							<li><a href="?page=map-settingkelas"><i class="fa fa-angle-double-right"></i>&nbsp; Setting Kelas</a></li>
						</ul>
					</li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
						<i class="fa fa-cogs"></i><span class="hide-menu">Pengaturan</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="?page=set-prodi"><i class="fa fa-home"></i><span class="hide-menu">&nbsp; Program Studi</a></li>
                            <li><a href="?page=set-akun-feeder"><i class="fa fa-unlock-alt"></i><span class="hide-menu">&nbsp; Akun Feeder</a></li>
                            <li><a href="?page=set-pengguna"><i class="fa fa-user"></i><span class="hide-menu">&nbsp; Pengguna </a></li>    
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
						<i class="fa fa-mortar-board"></i><span class="hide-menu">Log</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="?page=log-mahasiswa"><i class="fa fa-angle-double-right"></i>&nbsp; Mahasiswa </a></li>
							<li><a href="?page=log-matakuliah"><i class="fa fa-angle-double-right"></i>&nbsp; Matakuliah</a></li>
							<li><a href="?page=log-kurikulum"><i class="fa fa-angle-double-right"></i>&nbsp; Kurikulum</a></li>
							<li><a href="?page=log-kelas"><i class="fa fa-angle-double-right"></i>&nbsp; Kelas</a></li>
							<li><a href="?page=log-krs"><i class="fa fa-angle-double-right"></i>&nbsp; KRS</a></li>
							<li><a href="?page=log-mengajar"><i class="fa fa-angle-double-right"></i>&nbsp; Mengajar</a></li>
							<li><a href="?page=log-perwalian"><i class="fa fa-angle-double-right"></i>&nbsp; Perwalian</a></li>
							<li><a href="?page=log-transkrip"><i class="fa fa-angle-double-right"></i>&nbsp; Transkrip</a></li>
						</ul>
					</li>
					<li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
						<i class="fa fa-file"></i><span class="hide-menu">Laporan</span></a>
						<ul aria-expanded="false" class="collapse">
							<?php $tahun = date('Y') ?>
							<li><a target="_blank" href="?page=lap-bio-mahasiswa&act=lap&tahun=<?= $tahun ?>"><i class="fa fa-angle-double-right"></i><span class="hide-menu">&nbsp; Biodata Mahasiswa</a></li>
						</ul>
					</li>           
                </ul>
        </nav>
    </div>
</aside>